$font-stack: Helvetica, sans-serif;
$primary-color: #333;

body {
    font-family: $font-stack;
    margin: 0;
}

h1 {
    text-align: center;
    margin: 20px;
}

h2 {
    text-align: center;
}

@media screen and (max-width: 1399px) {
    .container {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
        max-height: 100%;
        width: 100vw;

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100vw;
            height: 50px;
            font-family: $font-stack;
            color: $primary-color;
            text-align: center;
        }
    }
}

@media screen and (min-width: 1400px) {
    .container {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        justify-content: center;
        max-height: 100%;

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100vw;
            font-family: $font-stack;
            color: $primary-color;
            text-align: center;
        }
    }
}